nav {
    padding-left: 10px;
}

div {
    padding-left: 10px;
    display: flex;
    padding-left: 10px;
}

@media screen and (max-width: 600px) {
    .card {background-color: aqua;}

    .card {
        flex-direction: column;
    }

    .card{
        width: 100%;
    }
}
@media screen and (min-width: 1024px){
    .card{
        background-color: red;
    }
}

form {
    display: grid;
}
